body.side-comp {
	display: flex;
}
body.side-comp > flexus-view {
	flex: 1;
}
body.side-comp > img {
	min-width: 360px;
	align-self: flex-start
}

body.side-comp:not(.custom-size) flexus-view {
	max-width: 360px;
	max-height: 640px;
}
