/* TODO: fix [padded] so it works outside layouts */
[grid] > * > [padded] {
	padding: 8px;
}

[grid] > * > img + * {
}
[grid] .album-info {
	padding: 16px;
}
[grid] .album-info p {
	margin: 2px 0;
}


[screensize="s"] [grid][responsive] {
	--columns: 2;
}
[screensize="m"] [grid][responsive] {
	--columns: 4;
}
[screensize="s"] [grid][responsive] [colspan] {grid-column-end: unset}
[screensize="s"] [grid][responsive] [rowspan] {grid-row-end: unset}


table th {
	font-size: 12px;
	font-weight: 400;
	opacity: 0.7;
}

table.list tr + tr td {
	border-top: 1px solid rgba(0,0,0,0.1);
}
table.list tr {
	height: 48px;
}
table.list th,
table.list td {
	padding: 4px 16px;
}

[optimize][mouse] table.list {
	font-size: 13px;
}
[optimize][mouse] table.list tr {
	height: 40px;
}
[optimize][mouse] table.list th,
[optimize][mouse] table.list td {
	padding: 4px 12px;
}

[screensize="l"] #detail-view main {
	margin-left: auto;
	margin-right: auto;
	margin: 17vw auto;
	max-width: 800px;
	width: 80%;
}

.album-info-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.album-info-name [h3] {
	margin-bottom: 0;
}
.album-info-release {
	padding: 32px;
}

/* DARKER/LIGHTER TINT COLORS ARE NOT CURRENTLY IMPLEMENTED */
/* TODO: UPDATE THIS PART OF THE DEMO. */
[tinted][light],
[tinted="lighter"],
[tinted][lighter] {
	background-color: rgb(49, 74, 116) !important;
}

flexus-view,
flexus-view > * {
	z-index: 1;
}

flexus-view[scrollable] {
	overflow-y: auto;
	overflow-y: overlay;
	/*overflow-y: auto !important;*/
}
flexus-view[scrollable] main {
	flex: none;
}