[offset="8"] {
  --wireframe-offset: 8px;
}
[offset="16"] {
  --wireframe-offset: 16px;
}
[offset="24"] {
  --wireframe-offset: 24px;
}
[offset="32"] {
  --wireframe-offset: 32px;
}
[offset="40"] {
  --wireframe-offset: 40px;
}
[offset="48"] {
  --wireframe-offset: 48px;
}
[offset="56"] {
  --wireframe-offset: 56px;
}
[offset="64"] {
  --wireframe-offset: 64px;
}
[offset="72"] {
  --wireframe-offset: 72px;
}
[offset="80"] {
  --wireframe-offset: 80px;
}
[wiregrid] {
  --wireframe-pattern: transparent, transparent 7px, rgba(0,0,0,0.1) 8px, transparent 8px, transparent 15px, rgba(0,0,0,0.25) 16px;
  background: linear-gradient(90deg, var(--wireframe-pattern)), linear-gradient(180deg, var(--wireframe-pattern));
  background-size: 16px 100%, 100% 16px;
}
:root {
	--wireframe-pink: rgba(255,0,150,0.7);
	--wireframe-cyan: rgba(0,255,200,0.2);
}
[wireframe]::before,
[wireframe]::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}
[wireframe]::before {
  left: 0;
  right: 0;
	border-left:  var(--wireframe-offset, var(--side, var(--theme-sideline, 1rem))) solid var(--wireframe-cyan);
	border-right: var(--wireframe-offset, var(--side, var(--theme-sideline, 1rem))) solid var(--wireframe-cyan);
}
[wireframe]::after {
  width: var(--keyline, var(--theme-keyline, 56px));
  left: var(--wireframe-offset, var(--side, var(--theme-sideline, 1rem)));
  outline: 1px solid var(--wireframe-pink);
}
